* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rebeccapurple;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

#game-board {
    background: darkgoldenrod;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.snake {
    background: seashell;
    border: 0.25vmin solid black;
}

.food {
    background: seagreen;
    border: 0.25vmin solid black;
   
}